.clickable {
	cursor: pointer;
}
.sangatrendah {
	background-color: #b71b1c;
	color: #ffffff;
}
.rendah {
	background-color: #d49dc5;
	color: #ffffff;
}
.sedang {
	background-color: #e1c027;
	color: #ffffff;
}
.tinggi {
	background-color: #8ec189;
	color: #ffffff;
}
.sangattinggi {
	background-color: #29af28;
	color: #ffffff;
}
